<h1>Kurti For Girl's</h1>
<div class="Grid-Container">
      <div class="c1">
        <div class="img"></div>
       <h2>Brand:Natek</h2>
        <p>Price:$900</p>
        <p>Size:<b>38</b></p>
        <p>Color: Black</p>
    </div>
    <div class="c2">
        <div class="img"></div>
        <h2>Brand:Natek</h2>
         <p>Price:$900</p>
         <p>Size:<b>34</b></p>
         <p>Color: Black</p>
     </div>
     <div class="c3">
        <div class="img"></div>
        <h2>Brand:Natek</h2>
         <p>Price:$900</p>
         <p>Size:<b>36</b></p>
         <p>Color: Black</p>
     </div>
</div>
<hr>


