<h1>Shirt For Men's</h1>
<div class="Grid-Container">
   
      <div class="c1">
        <div class="img"></div>
       <h2>Brand:Nike</h2>
        <p>Price:$500</p>
        <p>Size:<b>M</b></p>
        <p>Color: Dusty pink</p>
    </div>
      <div class="c2">
        <div class="img"></div>
        <h2>Brand:Nike</h2>
        <p>Price:$500</p>
        <p>Size:<b>L</b></p>
        <p>Color: Dusty pink</p>
      </div>
      <div class="c2">
        <div class="img"></div>
        <h2>Brand:Nike</h2>
        <p>Price:$500</p>
        <p>Size:<b>XL</b></p>
        <p>Color: Dusty pink</p>
      </div>
</div>
<hr>
