.Grid-Container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 300px;
  margin: 50px;
  margin-top: 50px;
  
}
.img{
    background-image: url("Images/Pink_Shirt.jfif");
    height: 250px;
}
h1{
    text-align: center;
    margin-top: 100px;
}
