<h1>Jeans For Men's</h1>
<div class="Grid-Container">
      <div class="c1">
        <div class="img"></div>
       <h2>Brand:Nike</h2>
        <p>Price:$1100</p>
        <p>Size:<b>30</b></p>
        <p>Color: Black</p>
    </div>
    <div class="c2">
        <div class="img"></div>
        <h2>Brand:Nike</h2>
         <p>Price:$1100</p>
         <p>Size:<b>30</b></p>
         <p>Color: Black</p>
     </div>
     <div class="c3">
        <div class="img"></div>
        <h2>Brand:Nike</h2>
         <p>Price:$1100</p>
         <p>Size:<b>30</b></p>
         <p>Color: Black</p>
     </div>
</div>
<hr>

