.card{
    margin-top:15px;
    border: 1px solid blue;
    width:550px;
    padding:45px;
    position:absolute;
    top:5%;
    left:32%;
}
h5{
    color:blue;
}
input.ng-touched.ng-invalid{
    border:1px solid red;
}
