<!-- <h1>LifeCyleHooks</h1>

<div class="container">
  <app-life-cycle-methods *ngIf="showComponent"
  [user]="userData"
  [item]="itemData"
  >
</app-life-cycle-methods>
<button (click)="onChangeData()">Change Data</button>
<button (click)="ondestroy()">Destroy Component</button>
</div> -->

<!-- <h1>Reactive Form</h1> -->
<!-- <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder="enter name" formControlName="user">
  <br><br>
  <input type="text" placeholder="enter password" formControlName="password">
  <br><br>
<button>Login</button>
</form> -->


<app-form-component></app-form-component>